/* Level 1 | Root Level Elements */

body{
    margin: 0;
}

hr{
    margin: 20px 0;
}

/* Level 2 | Page Level Elements */

.page{

    display: flex;
    flex-direction: column;

    justify-content: space-between;
}

.page-top{
    height: 15vh;
}

.page-middle{
    height: 79vh;
}

.page-section{

    margin: 10px;
    
    display: flex;
    justify-content: space-between;
}

.page-left-bottom, .page-right-bottom{

    display: flex;
    flex-direction: column;

    justify-content: space-between;
}

/* Level 3 | Component Level Elements */
/* General */

#left-sidebar-component, #right-sidebar-component{
    
    margin: 0;
    border: 1px solid purple;
}

.hideElement{
    display: none;
}

.showElement{
    display: block;
}

/* Level 3 | Component Level Elements */
/* Login.jsx & Signup.jsx*/

#login-component, #signup-component{

    height: 99.75vh;
    display: flex;

    align-items: center;
    justify-content: center;

    gap: 2.5px;
}

#left-login-page-container, #right-login-page-container, #left-signup-page-container, #right-signup-page-container{

    padding: 2vw;

    display: flex;
    flex-direction: column;

    justify-content: center;
    gap: 10px;
}

#left-login-page-container, #left-signup-page-container{

    width: 15vw;
    height: 40vh;

    border: 2.5px solid tomato;

    width: 35vw;
    padding: 5vw;
}

#right-login-page-container, #right-signup-page-container{

    padding-right: 4vw;

    border: 1px dashed teal;
    gap: 50px;
}

#login-header, #signup-header{
    font-size: 4rem;
}

#log-in-info-line2, #sign-up-info-line2{
    margin-left: 10px;
}

#firstName-input, #lastName-input, #email-input, #username-input, #password-input, #signup-button, #login-button{
    margin-top: 2.5px;
}

#login-error-container, #signup-error-container{

    white-space: pre-wrap;

    width: 175px;
    margin-top: 15px;

    color: brown;
    font-size: 0.8rem;
}

/* Level 3 | Component Level Elements */
/* Header.jsx */

#header-component{

    width: 100vw;
    border: 1px solid purple;

    padding: 20px;
    display: flex;

    justify-content: space-between;
    align-items: center;
}

#site-title a{

    text-decoration: none;
    color: black;

    font-size: 3rem;
}

#site-title a:hover{
    text-decoration: underline dotted;
}

#greeting-date-time-container{

    margin-top: 5px;

    display: flex;
    flex-direction: column;

    align-items: end;
}

#greeting{
    font-size: 1.2rem;
}

#auth-token-expiration-eta{

    font-size: 0.8rem;
    margin-bottom: 10px;
}

#header-date-time{
    font-size: 0.75rem;
}

/* Level 3 | Component Level Elements */
/* LeftSidebar.jsx */

#left-sidebar-component{
 
    height: 70%;

    padding: 20px;
    display: flex;

    flex-direction: column;
}

#left-sidebar-info-line1, #left-sidebar-info-line2{
    padding: 2.5px 10px;
}

#left-sidebar-info-line1{
    font-size: 1.1rem;
}

#left-sidebar-info-line2{

    padding-left: 12.5px;
    font-size: 0.8rem;
}

#left-sidebar-user-buttons-container{

    height: 60vh;
    padding: 10px;
    
    display: flex;
    flex-direction: column;

    justify-content: space-between;
}

#user-buttons-group1{

    display: flex;
    flex-direction: column;

    gap: 10px;
}

/* Level 3 | Component Level Elements */
/* Feed.jsx */

#content-card-container{

    border: 1px solid palevioletred;

    overflow-x: none;
    overflow-y: scroll;

    scrollbar-width: thin;
}

/* Level 3 | Component Level Elements */
/* Content.jsx */

.content-card, .skeleton-content-card{

    width: 600px;
    height: 250px;

    margin: 10px;
    padding: 20px;

    border: 1px solid black;

    display: flex;
    flex-direction: column;

    justify-content: space-between;
}

.content-card-top{

    display: flex;

    align-items: center;
    justify-content: space-between;
}

.post-author{
    font-size: 1.2rem;
}

.post-date{
    font-size: 0.8rem;
}

.content-card-middle{
    padding: 20px;

    display: flex;
    flex-direction: column;

    gap: 10px;
}

.post-title{
    font-weight: bold;
}

.post-body{
    padding: 10px;
}

.post-buttons{

    padding: 20px;

    display: flex;
    justify-content: end;

    gap: 10px;
}

/* Level 3 | Component Level Elements */
/* RightSidebar.jsx */

#right-sidebar-component, #user-list-container{

    height: 70%;

    padding: 20px;
    display: flex;
    
    flex-direction: column;
    gap: 10px;
}

#user-list-container{
    height: 80%;
}

#user-list-container{
    
    overflow-x: none;
    overflow-y: scroll;

    scrollbar-width: thin;
}

/* Level 3 | Component Level Elements */
/* LeftFooter.jsx, RightFooter.jsx */

#left-footer-component, #right-footer-component{

    height: 125px;
    width: 250px;

    margin: 0;
    padding: 20px;
    
    display: flex;    
    flex-direction: column;
    
    justify-content: end;
    gap: 10px;
}

#left-footer-top-row, #right-footer-top-row{

    display: flex;
    align-items: top;
}

#right-footer-top-row{
    justify-content: end;
}

#footer-country{
    font-size: 1.2rem;
}

#footer-links-container{

    display: flex;
    flex-direction: column;

    align-items: end;
    gap: 10px;

    font-size: 0.9rem;
}

#left-footer-bottom-row{

    display: flex;
    flex-direction: column;

    font-size: 0.8rem;
}

/* Level 3 | Component Level Elements */
/* UserDetail.jsx */

#user-detail-container{

    border: 1px solid palevioletred;
    width: 85vw;

    margin-left: 20px;
}