/* Level 1 | Root Level Elements */

body{
    margin: 0;
}

hr{
    margin: 15px 0;
}

/* Level 2 | Page Level Elements */

.page{

    display: flex;
    flex-direction: column;

    justify-content: space-between;
}

.page-top{
    height: 15vh;
}

.page-middle{

    height: 79vh;
    border: 1px solid goldenrod;

    overflow-y: hidden;
}

.page-section{

    margin: 10px;
    
    display: flex;
    justify-content: space-between;
}

.page-left-bottom, .page-right-bottom{

    display: flex;
    flex-direction: column;

    justify-content: space-between;
}

/* Level 3 | Component Level Elements */
/* General */

#left-sidebar-component, #right-sidebar-component{
    
    margin: 0;
    border: 1px solid purple;
}

.hideElement{
    display: none;
}

.showElement{
    display: block;
}

/* Level 3 | Component Level Elements */
/* Login.jsx & Signup.jsx*/

#login-component, #signup-component{

    height: 99.75vh;
    display: flex;

    align-items: center;
    justify-content: center;

    gap: 2.5px;
}

#left-login-page-container, #right-login-page-container, #left-signup-page-container, #right-signup-page-container{

    padding: 2vw;

    display: flex;
    flex-direction: column;

    justify-content: center;
    gap: 10px;
}

#left-login-page-container, #left-signup-page-container{

    width: 35vw;
    height: 40vh;

    border: 2.5px solid tomato;
    padding: 5vw;
}

#right-login-page-container, #right-signup-page-container{

    padding-right: 4vw;

    border: 1px dashed teal;
    gap: 50px;
}

#login-header, #signup-header{
    font-size: 4rem;
}

#log-in-info-line2, #sign-up-info-line2{
    margin-left: 10px;
}

#firstName-input, #lastName-input, #email-input, #username-input, #password-input, #signup-button, #login-button{
    margin-top: 2.5px;
}

#login-error-container, #signup-error-container{

    white-space: pre-wrap;

    width: 175px;
    margin-top: 15px;

    color: brown;
    font-size: 0.8rem;
}

/* Level 3 | Component Level Elements */
/* Header.jsx */

#header-component{

    width: 100vw;
    border: 1px solid purple;

    padding: 20px;
    display: flex;

    justify-content: space-between;
    align-items: center;
}

#site-title a{

    text-decoration: none;
    color: black;

    font-size: 3rem;
}

#site-title a:hover{
    text-decoration: underline dotted;
}

#greeting-date-time-container{

    margin-top: 5px;

    display: flex;
    flex-direction: column;

    align-items: end;
}

#greeting{
    font-size: 1.2rem;
}

#auth-token-expiration-eta{

    font-size: 0.8rem;
    margin-bottom: 10px;
}

#header-date-time{
    font-size: 0.75rem;
}

/* Level 3 | Component Level Elements */
/* LeftSidebar.jsx */

#left-sidebar-component{
 
    height: 70%;

    padding: 20px;
    display: flex;

    flex-direction: column;
}

#left-sidebar-info-line1, #left-sidebar-info-line2{
    padding: 2.5px 2.5px;
}

#left-sidebar-info-line1{
    font-size: 1.1rem;
}

#left-sidebar-info-line2{

    padding-left: 5px;
    font-size: 0.8rem;
}

#left-sidebar-user-buttons-container{

    height: 60vh;
    padding: 10px;
    
    display: flex;
    flex-direction: column;

    justify-content: space-between;
}

#user-buttons-group1{

    display: flex;
    flex-direction: column;

    gap: 10px;
}

/* Level 3 | Component Level Elements */
/* Feed.jsx */

.feed-container{

    width: 50vw;
    border: 1px solid fuchsia;

    overflow-y: scroll;
    /* scrollbar-width: none; */
}

#content-card-container{

    height: 80vh;
    border: 1px solid palevioletred;

    display: flex;
    flex-wrap: wrap;
    
    justify-content: center;

    overflow-y: scroll;
    scrollbar-width: thin;
}

#scroll-top-buttons{

    display: flex;

    justify-content: space-between;
    align-items: center;

    padding: 10px;
    gap: 10px;
}

#scroll-up-info{
    font-size: 0.8rem;
}

#scroll-up-buttons button{
    margin: 0px 2.5px;
}

/* Level 3 | Component Level Elements */
/* Content.jsx */

.content-card, .skeleton-content-card{

    width: 600px;
    height: 250px;

    margin: 10px;
    padding: 20px;

    border: 1px solid black;

    display: flex;
    flex-direction: column;

    justify-content: space-between;
}

.content-card-top{

    display: flex;

    align-items: center;
    justify-content: space-between;
}

.post-author{
    font-size: 1.2rem;
}

.post-date{
    font-size: 0.8rem;
}

.content-card-middle{
    padding: 20px;

    display: flex;
    flex-direction: column;

    gap: 10px;
}

.post-title{
    font-weight: bold;
}

.post-body{
    padding: 10px;
}

.post-buttons{

    padding: 20px;

    display: flex;
    justify-content: end;

    gap: 10px;
}

/* Level 3 | Component Level Elements */
/* RightSidebar.jsx */

#right-sidebar-component, #user-list-container, #user-stats-container, #author-stats-container{

    height: 70%;

    padding: 20px;
    display: flex;
    
    flex-direction: column;
}

#user-list-container{
    
    height: 80%;
    gap: 10px;
    
    overflow-x: none;
    overflow-y: scroll;

    scrollbar-width: thin;
}

#user-stats-container, #author-stats-container{
    
    height: 60vh;
    gap: 10px;
}
    
/* Level 3 | Component Level Elements */
/* LeftFooter.jsx, RightFooter.jsx */

#left-footer-component, #right-footer-component{

    height: 125px;
    width: 250px;

    margin: 0;
    padding: 20px;
    
    display: flex;    
    flex-direction: column;
    
    justify-content: end;
    gap: 10px;
}

#left-footer-top-row, #right-footer-top-row{

    display: flex;
    align-items: top;
}

#right-footer-top-row{
    justify-content: end;
}

#footer-country{
    font-size: 1.2rem;
}

#footer-links-container{

    display: flex;
    flex-direction: column;

    align-items: end;
    gap: 10px;

    font-size: 0.9rem;
}

#left-footer-bottom-row{

    display: flex;
    flex-direction: column;

    font-size: 0.8rem;
}

/* Level 3 | Component Level Elements */
/* UserDetail.jsx */

#user-detail-container{

    width: 50vw;
    border: 1px solid palevioletred;
    
    margin: 0px 20px;
    padding: 20px;
}

.user-detail-input{

    margin-top: 5px;
    padding: 5px;

    width: 250px;
}

.user-detail-label{
    padding-left: 2.5px;
}

#user-detail-update-button, #user-detail-delete-button{

    margin-right: 2.5px;
    padding: 5px 10px;
}

#user-detail-form{

    display: flex;
    flex-direction: column;

    gap: 20px;
}

.user-detail-form-group{

    display: flex;
    gap: 20px;
}

/* Level 3 | Component Level Elements */
/* PostDetail.jsx */

#post-detail-container{

    width: 50vw;
    border: 1px solid palevioletred;
    
    margin: 0px 20px;
    padding: 10px;

    overflow-x: hidden;
    overflow-y: scroll;

    scrollbar-width: thin;
}

#post-detail{
    height: 50%;
}

#post-detail, #comment-section{

    padding: 20px;
    border: 1px solid purple;

    display: flex;
    flex-direction: column;

    justify-content: space-between;
}

#comment-section{

    padding: 10px;
    gap: 20px;
}

#post-detail-top-section{

    display: flex;
    flex-direction: column;

    gap: 10px;
}

#post-detail-title{
    font-size: 1.75rem;
}

#post-detail-author{
    font-size: 1.1rem;
}

#post-detail-bottom-section{

    display: flex;

    justify-content: space-between;
    align-items: end;
}

#post-detail-dates{

    font-size: 0.75rem;
    
    display: flex;
    flex-direction: column;
    
    align-items: end;
    gap: 5px;
}

/* Level 3 | Component Level Elements */
/* CommentCreator.jsx */

#comment-creator{
    
    padding: 20px;
    border: 1px solid brown;

    display: flex;
    flex-direction: column;

    gap: 10px;
}

#comment-creator-form{

    display: flex;
    flex-direction: column;

    gap: 10px;
}

#comment-creator-top{
    
    display: flex;
    flex-direction: column;

    gap: 2.5px;
}

#comment-creator-title, #comment-creator-body{

    padding: 5px;
    font-family: Arial;
}

#comment-creator-bottom{

    display: flex;
    justify-content: space-between;
}

#comment-creator-identifiers, #comment-creator-buttons{

    display: flex;
    gap: 5px;
}

#comment-creator-identifiers label{
    font-size: 0.8rem;
}

#comment-creator-buttons{

    display: flex;
    gap: 5px;
}

/* Level 3 | Component Level Elements */
/* Comment.jsx */

#comment-creator-header{
    font-size: 1.1rem;
}

.comment{

    padding: 20px;
    border: 1px solid green;

    display: flex;
    flex-direction: column;

    gap: 50px;
}

.comment-top{

    display: flex;
    flex-direction: column;

    gap: 5px;
}

.comment-title{
    font-size: 0.8rem;
}

.comment-bottom{

    display: flex;

    justify-content: space-between;
    align-items: end;
}

.comment-info{

    display: flex;
    flex-direction: column;

    gap: 5px;
}

.comment-dates{

    display: flex;

    gap: 10px;
    font-size: 0.75rem;
}

.comment-buttons{

    display: flex;
    gap: 20px;
}

/* Level 3 | Component Level Elements */
/* PostCreator.jsx */

#post-creator{
    
    padding: 20px;
    border: 1px solid brown;

    display: flex;
    flex-direction: column;

    gap: 10px;
}

#post-creator-form{

    display: flex;
    flex-direction: column;

    gap: 10px;
}

#post-creator-top{
    
    display: flex;
    flex-direction: column;

    gap: 2.5px;
}

#post-creator-title, #post-creator-body{

    padding: 5px;
    font-family: Arial;
}

#post-creator-bottom{

    display: flex;
    justify-content: space-between;
}

#post-creator-identifiers, #post-creator-buttons{

    display: flex;
    gap: 5px;
}

#post-creator-identifiers label{
    font-size: 0.8rem;
}

#post-creator-buttons{

    display: flex;
    gap: 5px;
}