/* Level 1 | Root Level Elements */

html{
    border: 1px solid red;
}

body{
    border: 1px solid green;
}

#root{

    margin: 10px;
    border: 1px solid blue;
}

hr{
    margin: 20px 0;
}

/* Level 2 | Page Level Elements */

.page{

    margin: 10px;
    border: 1px solid orangered;

    display: flex;
    flex-direction: column; 
}

.page-middle{
    height: 80vh;
}

.page-section{

    margin: 10px;
    border: 1px solid yellowgreen;

    display: flex;
    justify-content: space-between;
}

.page-left-bottom, .page-right-bottom{

    display: flex;
    flex-direction: column;

    justify-content: space-between;
}

/* Level 3 | Component Level Elements */
/* General */

.component{
    
    margin: 10px;
    border: 1px solid purple;
}

#sidebar-component, #users-component{
    width: 15vw;
}

.hideElement{
    display: none;
}

.showElement{
    display: block;
}

/* Level 3 | Component Level Elements */
/* Login.jsx */

#login-component{

    height: 85vh;
    display: flex;

    align-items: center;
    justify-content: center;

    gap: 2.5px;
}

#left-login-page-container, #right-login-page-container{

    padding: 2vw;

    display: flex;
    flex-direction: column;

    justify-content: center;
    gap: 10px;
}

#left-login-page-container{

    width: 15vw;
    height: 40vh;

    border: 2.5px solid tomato;

    width: 35vw;
    padding: 5vw;
}

#right-login-page-container{

    padding-right: 4vw;

    border: 1px dashed teal;
    gap: 50px;
}

#login-header{
    font-size: 4rem;
}

#log-in-info-line2{
    margin-left: 10px;
}

#username-input, #password-input, #login-button{
    margin-top: 2.5px;
}

#login-error-container{

    width: 175px;
    margin-top: 15px;

    color: brown;
    font-size: 0.8rem;
}

/* Level 3 | Component Level Elements */
/* Header.jsx */

#header-component{

    width: 100vw;

    padding: 10px;
    display: flex;

    justify-content: space-between;
    align-items: center;
}

#site-title{
    font-size: 3rem;
}

#greeting-date-time-container{

    margin-top: 5px;

    display: flex;
    flex-direction: column;

    align-items: end;
}

#greeting{
    font-size: 1.2rem;
}

#auth-token-expiration-eta{

    font-size: 0.8rem;
    margin-bottom: 10px;
}

#header-date-time{
    font-size: 0.75rem;
}

/* Level 3 | Component Level Elements */
/* Sidebar.jsx */

#sidebar-component{
 
    height: 60vh;

    padding: 10px;
    display: flex;

    flex-direction: column;
}

#bottom-user-buttons-container{

    height: 60vh;
    
    display: flex;
    flex-direction: column;

    justify-content: space-between;
}

/* Level 3 | Component Level Elements */
/* Feed.jsx */

#content-card-container{

    border: 1px solid palevioletred;
    margin: 10px;

    overflow: auto;
}

/* Level 3 | Component Level Elements */
/* Content.jsx */

.content-card{

    width: 45vw;
    height: 25vh;

    margin: 10px;
    padding: 10px;

    border: 1px solid black;

    display: flex;
    flex-direction: column;

    justify-content: space-between;
}

.content-card-top{

    display: flex;

    align-items: center;
    justify-content: space-between;
}

.post-author{
    font-size: 1.2rem;
}

.post-date{
    font-size: 0.8rem;
}

.content-card-middle{
    padding: 10px;
}

.post-title{
    font-weight: bold;
}

.post-buttons{

    padding: 10px;

    display: flex;
    justify-content: end;

    gap: 10px;
}

/* Level 3 | Component Level Elements */
/* Users.jsx */

#users-component, #user-list-container{

    height: 60vh;

    padding: 10px;
    display: flex;
    
    flex-direction: column;
    gap: 10px;
}

/* Level 3 | Component Level Elements */
/* LeftFooter.jsx, RightFooter.jsx */

#left-footer-component, #right-footer-component{

    padding: 10px;
    display: flex;    
    
    flex-direction: column;
    gap: 10px;
}

#left-footer-top-row, #right-footer-top-row{

    display: flex;
    align-items: top;
}

#right-footer-top-row{
    justify-content: end;
}

#footer-country{
    font-size: 1.2rem;
}

#footer-links-container{

    display: flex;
    flex-direction: column;

    align-items: end;
    gap: 10px;

    font-size: 0.9rem;
}

#left-footer-bottom-row{

    display: flex;
    flex-direction: column;

    font-size: 0.8rem;
}